* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 7% 60% 13% 13% 7%;
    grid-template-columns: 25% 25% 25% 25%;
    color: white;
    }

.header {
    display: grid;
    background-color: limegreen;
    place-items: center;
}

.menu {
    display: grid;
    background-color: yellow;
    grid-column: 2 / span 3;
    place-items: center;
}

.conteudo1 {
    display: grid;
    background-color:mediumvioletred;
    grid-column: 1 / span 4;
    place-items: center;
}

.conteudo2 {
    display: grid;
    background-color:royalblue;
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    place-items: center;
}

.blank {
    display: grid;
    grid-row: 3 / span 2;
}

.image {
    display: grid;
    background-color: red;
    place-items: center;
    grid-row: 3;
    grid-column: 4;
}

.extra {
    display: grid;
    background-color: chartreuse;
    place-items: center;
    grid-row: 4;
    grid-column: 4;
}

.footer {
    display: grid;
    background-color:darkorchid;
    place-items: center;
    grid-column: 1 / span 4;
}